.feed{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.feed__form{
display: flex;
flex-direction: column;
gap: 15px;
}

.feed__posts{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 40px;
}